<html>
<head>
</head>
<body>
<table margin="10" border="10" padding="50">
 <tr>
    <th>Id</th>
    <th>picture</th>
    <th>name</th>
    <th>email</th>
    <th>nbr of books</th>
  </tr>
{% for i in authors %}
<tr>
<td>{{i.id}}</td>
<td><img src="{{i.picture}}" width="40"/></td>
<td>{{i.username |upper}}</td>
<td>{{i.email}}</td>
<td>{{i.nb_books}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>